* {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

#controls {
    width: 640px;
    height: 380px;
    padding: 10px;
    background-color: #b2ffb2;
    border: 2px solid #000000;
    border-radius: 15px;
    display: flex;
    gap: 12px;
}

#leftControls {
    width: 320px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
}

#buttons button {
    width: 74px;
    height: 74px;
    font-size: 13px;
    background: #6de7ff;
    color: #000000;
    border: 3px solid #1c1c1c;
    cursor: pointer;
    border-radius: 15%;
}

#buttons button:focus:active {
    background: #00bfff;
}

#buttons button.active {
    background: #00bfff;
}


#rightControls{
    width: 100%;
}

.wrapper {
    height: 60px;
    margin-top: 40px ;
    margin-bottom: 10px;
}
    
#myCanvasOverlay, #myCanvas {
    height: inherit;
    width: 300px;
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
}

#myCanvas {
    border-color: black;
    background-color: black;
    z-index: 0;
}

#myCanvasOverlay {
    border-color: #2dd52d;
    z-index: 10;
}


#presetChooser {
    text-align: center;
}

#presetSelect {
    border-radius: 5px;
    max-width: 300px;
}

#buttons progress {
    width: 70px;
    height: 15px;
}