*{
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.wrapper {
    position: relative;
    width: 200px;
    height: 100px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#myCanvas {
  border: 1px solid black;
  background-color:black;
  z-index:0;
}

#myCanvasOverlay {
  border:1px solid #2dd52d;
  position: absolute;
  z-index:10;
}

#myCanvasOverlay, #myCanvas{
  border-radius: 5px;
}

#controls {
  border: 2px solid #000000;
  background-color: #b2ffb2;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  width: 660px;
  border-radius: 15px;
}

#leftControls {
  width: 320px;
  height: 330px
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 74px;
  gap: 8px;
  width: 100%;
}

#buttons > button {
  width: 100%;
  font-size: 13px;
  background: #6de7ff;
  color: #000000;
  border: 3px solid #1c1c1c;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
}

#buttons > button:focus:active {
  background: #00bfff;
}
#buttons > button.active {
  background: #00bfff;
}

.wrapper canvas, .wrapper {
    width: 300px; 
    height: 60px;
    top: 20px;
    left: 0;
}

#presetChooser{
  position: relative;
  top: 50px;
  text-align: center;
}

#presetSelect{
  border-radius: 5px;
}