:root {
  --color1: #E0FBE2;
  --color2: #c9f6cc;
  --color3: #B0EBB4;
  --color4: #638d65;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

#controls {
    width: 640px;
    height: 380px;
    padding: 10px;
    margin: 10px;
    background: repeating-linear-gradient(135deg, var(--color1) 0px, var(--color1) 80px, var(--color2) 80px, var(--color2) 160px);
    border: 2px solid var(--color4);
    border-radius: 15px;
    display: flex;
    gap: 12px;
}

#leftControls {
    width: 320px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
}

#buttons button {
    width: 74px;
    height: 74px;
    font-size: 13px;
    background-color: var(--color3);
    color: #000000;
    border: 3px solid var(--color4);
    cursor: pointer;
    border-radius: 15%;
}

#buttons button:focus:active {
    background: var(--color4);
}

#buttons button.active {
    background: var(--color4);
}

#buttons > div{
    text-align: center;
}


#rightControls{
    width: 100%;
}

.wrapper {
    height: 60px;
    margin-top: 40px ;
    margin-bottom: 10px;
}
    
#myCanvasOverlay, #myCanvas {
    height: inherit;
    width: 300px;
    position: absolute;
    border: 1px solid;
    border-radius: 5px;
}

#myCanvas {
    border-color: black;
    background-color: black;
    z-index: 0;
}

#myCanvasOverlay {
    border-color: var(--color4);
    z-index: 10;
}


#presetChooser {
    text-align: center;
}

#presetSelect {
    border-radius: 5px;
    max-width: 300px;
}

progress {
    width: 70px;
    height: 8px;
    margin-top: 3px;
    margin-bottom: 4px;
    -webkit-appearance: 'none';
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: var(--color3);
    border: 1px solid var(--color4);
    border-radius: 30px;
}

progress::-webkit-progress-value {
    background: var(--color4);
    border-radius: 30px;
}